
+archive/
+archive\
archive/
archive\

results/
results\

+working/
+\working

docs/figs/
docs\figs\

validate_object_detection/
validate_object_detection\

validate_scale_bar_detection/
validate_scale_bar_detection\

temp/
temp\


